<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Event Name</th>
        <th scope="col">Category</th>
        <th scope="col">Event Description</th>
        <th scope="col">Contact Email</th>
        <th scope="col">Event Address</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="event : ${events}">
    <tr>
        <td th:text="${event.id}"></td>
        <td th:text="${event.name}"></td>
        <td th:text="${event.eventCategory.name}"></td>
        <td th:text="${event.description}"></td>
        <td th:text="${event.contactEmail}"></td>
        <td>
            <a target="_blank" th:text="${event.address}" th:href="${event.addressLink}"></a>
        </td>
    </tr>>
    </th:block>

<!--
    <th:block th:replace="fragments :: eventRow"></th:block>
-->
    <!-- th:block for each loop example
    <th:block th:each="event : ${events}">
        <tr>
            <td th:text="${event.getKey()}"></td>
            <td th:text="${event.getValue().get(0)}"></td>
            <td>
                <a target="_blank" th:text="${event.getValue().get(1)}" th:href="${event.getValue().get(2)}"></a>
            </td>
        </tr>
    </th:block>
    -->
    </tbody>
</table>
<!--- code for block loop unsorted list
<ul>
    <th:block th:each="event : ${events}">
        <li th:text="${event}"></li>
    </th:block>
</ul>
-->

</body>
</html>